body {
	margin: 0;
	/* background: rgb(15%, 15%, 15%); */
	font-family: sans-serif;
	transition: .6s;
}

#play-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* #winScreen {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	transition: background .4s;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#winScreen p {
	color: white;
	font-size: 60px;
	transform: translateY(-70vh);
	user-select: none;
	text-shadow: 2px 2px 0 black;
	animation: textDrop 2s;
} */

button {
	width: 600px;
  height: 50px;
  margin: 20px;
	cursor: pointer;
}

#intro {
  text-align: center;
}

#play-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tile {
	height: 110px;
	width: 110px;
	margin: 20px;
	border: 1px solid;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
}

.tile p {
	font-size: 30px;
	margin: 0;
	padding: 35%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	filter: blur(5px);
	user-select: none;
}

.matched {
	border-radius: 50%;
	transition: 1s;
	background: blue;
}


.matched p {
	filter: blur(0px);
}

.flip3D{ 
  width:110px; height:110px; margin:0px; float:left;
 
 }

.flip3D > .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
	background:#FC0; width:110px; height:110px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D > .back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:110px; height:110px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
	transform: perspective( 600px ) rotateY( 0deg );
}
/* 
.back:active{
 transform: perspective( 600px ) rotateY( 180deg ) 
} */

